# Environment variables
.env
.env.*
!.env.template

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
myvenv/
env/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# Local ChromaDB files
chroma_db/

# MacOS
.DS_Store
