streamlit
openai
langchain
python-dotenv
langchain-community>=0.0.10
langchain-openai>=0.0.3
langchain_text_splitters
langchain-core
langchain-chroma>=0.0.5
fastapi
uvicorn
crawl4ai[sync]
PyPDF2
pytest
deepeval
APScheduler
sentence-transformers
scikit-learn
feedparser